* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header,
.hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
}

.header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header img {
    max-height: 35px;
    width: auto;
}

.hero {
    padding: 150px 150px;
    display: flex;
}